 {% block page_body_footer %}
    <footer id="footer" class="footer">
        <br>
        <a href="/AboutUs" class="footer_text" > <b> אודות </b> </a> <br><br>

        <a href="/Contact" class="footer_text" > <b> צור קשר </b> </a> <br><br>
  
        <div id= "Insta">
            <a target="_blank" href="https://www.instagram.com/roy_avigdorov/" class="footer_text" > <b> @shoko_box     </b></a> <img src="/Footer/media/instagram.png" alt="instagram" style="width: 20px;"></a>
        </div>
    </footer>
 {% endblock %}