
.title_name{
    font-size: 20px;
    font-weight: bold;
}

#sec_table{
  margin-top: 10%;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(199, 146, 116);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -80px;
  }


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }



/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .sub_btn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.795);
    color: rgb(148, 102, 86);
    font-family: Calibri, serif;
    font-size: 15px;
    border-style: solid;
    border-width: 0.5px;
    border-color: none;
    width: 10%;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
  }

  .sub_btn:hover {
    opacity: rgb(225, 176, 156);
  }


  @media only screen and (max-width: 600px) {
    video{
       width:100px;
       height:150px;
    }
    .sub_btn{
      width: 40%;
    }
  }